/out/
/.idea/
/.settings
/View/
/target/
/classes/
*.class
*.eml
*.userlibraries
.attach_pid*
.classpath
.project
*.sqlite
/lib/charm-glisten-4.4.1.jar
/lib/charm-glisten-4.4.1-javadoc.jar
test.uml
build.xml
test.jar